@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
li, a, button {
    font-family: 'oswald', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}
header {
    background-color: #1f2937;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
    color: aliceblue;
    margin-right:auto;
    width: 100px;
    height: 100px;
    background-position: 55% 55%;
}
.nav-links {
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color:cadetblue;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: cadetblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgb(1, 31, 32);
}
main {
    max-width: 100%;
    min-height: 100%;
    padding: 20px;
    margin: 0 auto;
    background-color: #1f2937;
    background-image: url(./box4.jpg);
    background-size: 425px;
    background-repeat: no-repeat;
    background-position: bottom 12px right 200px;
    
}
h1 {
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
p {
font-size: 18px;
line-height: 18px;
color: #fff;
font-family: Roboto;
}

/*category section*/
.index-category{
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-category p {
    font-size: 22px;
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
}

.index-category-box{
    width: 200px;
    height: 200px;
    background-color: #241f1f;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.index-category-box:nth-child(2) {
    background-image: url(./box1.jpg);
}
.index-category-box:nth-child(3) {
    background-image: url(./box2.jpg);
}
.index-category-box:nth-child(4) {
    background-image: url(./box3.jpg);
}
.index-category-box:nth-child(5) {
    background-image: url(./box4.jpg);
}
.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}
.index-category-box:hover .dark-overlay{
    opacity: 0;
}
.index-category-box h3 {
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;

}
/*quote section*/

.quote-section {
    width: 100%;
    padding: 40px;
    background-color: #E5E7EB;
    
}
.quote-section p {
    font-size: 30px;
    font-family: light italic;
    color: #111a27;
    padding: 15px;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*CTA section*/
.call {
    background-color:#fff;
    width:100%;
}
.call-contatiner {
    background-color: #3882f6;
    margin: 50px 250px;
    padding: 10px 80px;
    display:flex;
    align-items: center;
    border-raduis: 5px;
    text-align: center;
    
}
.call-b {
    display: flex;
    justify-content: end;
    
}
















/*footer*/

.footer {
    background-color: #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
}
